<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.siat.post.domain.comment.CommentMapper">
    <insert id="insertComment" parameterType="com.siat.post.domain.comment.Comment" useGeneratedKeys="true" keyProperty="commentIdx" keyColumn="comment_idx">
        INSERT INTO COMMENT_TBL (
            user_idx,
            post_idx,
            comment_parent_idx,
            comment_content,
            comment_author
        ) VALUES (
            #{userIdx},
            #{postIdx},
            #{commentParentIdx},
            #{commentContent},
            #{commentAuthor}
        )
    </insert>

    <select id="selectComments"
            resultType="com.siat.post.domain.comment.dto.CommentSelectResponseDto">
        SELECT
            comment_idx AS commentIdx,
            user_idx AS userIdx,
            post_idx AS postIdx,
            comment_parent_idx AS commentParentIdx,
            comment_content AS commentContent,
            comment_author AS commentAuthor,
            reg_date AS regDate,
            update_date AS updateDate,
            is_delete AS isDelete
        FROM
            COMMENT_TBL
        WHERE
            post_idx = #{postIdx}
        AND
            is_delete = 0
        ORDER BY
            comment_parent_idx ASC, reg_date ASC
    </select>

</mapper>