<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.siat.post.domain.post.PostMapper">

  <select id="selectPost" parameterType="Long">
    select 
      post_idx 
      ,board_idx
      ,user_idx
      ,post_author
      ,post_title
      ,post_content
      ,hit
      ,is_secret
      ,post_password
      ,reg_date
      ,update_date
      ,is_delete
    from post
    where post_idx = #{id} and is_delete = 0
  </select>
  <select id="selectPostWithPassword" parameterType="com.siat.post.domain.post.dto.PostSecretRequestDto">
    select 
      post_idx 
      ,board_idx
      ,user_idx
      ,post_author
      ,post_title
      ,post_content
      ,hit
      ,is_secret
      ,post_password
      ,reg_date
      ,update_date
      ,is_delete
    from post
    where post_idx = #{postIdx} and is_delete = 0 and post_password=#{postPassword}
  </select>
  <select id="selectPosts" resultType="com.siat.post.domain.post.dto.PostSimpleInfoResponseDto">
    select 
      post_idx 
      ,board_idx
      ,user_idx
      ,post_author
      ,post_title
      ,hit
      ,is_secret
      ,reg_date
      ,update_date
      ,is_delete
    from post 
    where is_delete = 0
  </select>
  <select id="selectPostsByBoardIdx" parameterType="Integer" resultType="com.siat.post.domain.post.dto.PostSimpleInfoResponseDto">
    select 
      post_idx 
      ,board_idx
      ,user_idx
      ,post_author
      ,post_title
      ,post_content
      ,hit
      ,is_secret
      ,post_password
      ,reg_date
      ,update_date
      ,is_delete
    from post 
    where is_delete = 0 
    and board_idx = #{boardIdx}
  </select>
  <insert id="insertPost" parameterType="com.siat.post.domain.post.dto.Post" useGeneratedKeys="true" keyProperty="postIdx" keyColumn="post_idx">
    insert into post(  
      board_idx
      ,user_idx
      ,post_author
      ,post_title
      ,post_content
      ,hit
      ,is_secret
      ,post_password
      ,reg_date
      )
    values(
      #{boardIdx}
      ,#{userIdx}
      ,#{postAuthor}
      ,#{postTitle}
      ,#{postContent}
      ,#{hit}
      ,#{isSecret}
      ,#{postPassword}
      ,CURRENT_TIMESTAMP
      )
  </insert>
  <update id="updatePost" parameterType="com.siat.post.domain.post.dto.PostUpdateRequestDto">
    update post
    <set>
        <if test="boardIdx != null">
        board_idx = #{boardIdx},
        </if>
        <if test="postAuthor != null">
        post_author = #{postAuthor},</if>
        <if test="postTitle != null">post_title = #{postTitle},
        </if>
        <if test="postContent != null">
        post_content = #{postContent},
        </if>
        <if test="isSecret != null">
        is_secrect = #{isSecret},
        </if>
        <if test="postPassword != null">
        post_password = #{postPassword},
        </if>
        update_date = CURRENT_TIMESTAMP,
    </set>
    where post_idx = #{postIdx}
  </update>
  <update id="softDeletePost" parameterType="Long">
    update post 
      is_delete = 1,
    where post_idx = #{postIdx}
  </update>
  <update id="updatePostHit" parameterType="Long">
    update post
    set   hit=hit+1
    where post_idx= #{id}
  </update>
  <select id="selectPostIsSecret" parameterType="Long" resultType="int">
      select is_secret 
      from post
      where post_idx =#{id}
  </select>
</mapper>